TestWindow/Debug/
TestWindow/Release/
Streamer/Debug/
Streamer/Release/
*.opensdf
*.sdf
Streamer/x64/
*.opendb
Release/
*.db
TestWindow/x64/
Decoder/x64/
Decoder/Debug/
HTML5/node_modules/
TestWindow2/x64/
ViewportServerPlugin/x64/
StreamLib/x64/
x64/
*.user
*.7z
*.suo
*.zip
